.error {
  display: flex;
  align-items: center;
  justify-content: center;

  &__icon {
    width: 5rem;
    height: 5rem;
  }

  &__message {
    color: #fff;
    font-size: 1.8rem;
    font-family: $font-secondary;
    font-weight: bold;
    margin-left: 2rem;
  }

  &__btn {
    margin-top: 2rem;
  }

  &__link {
    text-decoration: none;
    font-size: 1.8rem;
    background-color: $color-red-light;
    color: $color-blue-dark;
  }
}
