// === COLORS ===

$color-background-primary-1: #2a3368;
$color-background-primary-2: #10131e;
$color-background-secondary: #1c203d;
$color-background-tertiary-1: #2b5876;
$color-background-tertiary-2: #302b63;

$color-blue-light: #8ad7ff;
$color-blue-med: #2bafd6;
$color-blue-dark: #252945;

$color-green: #64d885;
$color-green-med: #52b36e;
$color-red-light: #c66997;
$color-red-med: #b95989;
$color-red-dark: #e84d4d;

// === FONTS ===

$font-primary: "Lato", sans-serif;
$font-secondary: "Quicksand", sans-serif;
$font-tertiary: "Cookie", cursive;
